<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Hosts>
    <ADDSSettings>
      <Hostname>WINDEV-DC</Hostname>
      <IPAddress>192.168.1.50</IPAddress>
      <Role>DC</Role>
      <Version>2012R2</Version>
    </ADDSSettings>
    <SQLHostSettings>
      <Hostname>WINDEV-SQL</Hostname>
      <IPAddress>192.168.1.60</IPAddress>
      <Role>SQL</Role>
      <Version>2012</Version>
    </SQLHostSettings>
    <SP2013Settings>
      <Hostname>WINDEV-SP2013</Hostname>
      <IPAddress>192.168.1.70</IPAddress>
      <Role>SP</Role>
      <Version>2013</Version>
      <LicenseKey>%2013LICENSE%</LicenseKey>
    </SP2013Settings>
    <SP2010Settings>
      <Hostname>WINDEV-SP2010</Hostname>
      <IPAddress>192.168.1.80</IPAddress>
      <Role>SP</Role>
      <Version>2010</Version>
      <LicenseKey>%2010LICENSE%</LicenseKey>
    </SP2010Settings>
    <Lync2013StdSettings>
      <Hostname>WINDEV-LYNC2013</Hostname>
      <IPAddress>192.168.1.90</IPAddress>
      <Role>Lync</Role>
      <Version>2013</Version>
    </Lync2013StdSettings>
    <Lync2010StdSettings>
      <Hostname>WINDEV-LYNC2010</Hostname>
      <IPAddress>192.168.1.100</IPAddress>
      <Role>Lync</Role>
      <Version>2010</Version>
    </Lync2010StdSettings>
    <W8ClientSettings>
      <Hostname>WINDEV-W8CLIENT</Hostname>
      <IPAddress>192.168.1.110</IPAddress>
      <Role>Client</Role>
      <Version>Win8</Version>
    </W8ClientSettings>
    <W7ClientSettings>
      <Hostname>WINDEV-W7CLIENT</Hostname>
      <IPAddress>192.168.1.120</IPAddress>
      <Role>Client</Role>
      <Version>Win7</Version>
    </W7ClientSettings>
  </Hosts>
  <Paths>
    <SetupPath>C:\Deploy</SetupPath>
    <SQLInstallPath>D:</SQLInstallPath>
    <SQLConfigPath>c:\deploy\sql\sql_configuration.ini</SQLConfigPath>
    <AutoSPInstallerPath>c:\deploy\sharepoint\autospinstaller</AutoSPInstallerPath>
    <StepFilePath>c:\deploy\step.txt</StepFilePath>
    <FlowFilePath>c:\deploy\flow.txt</FlowFilePath>
    <TopologyPath>c:\deploy\lync\jivewindev.com.tbxml</TopologyPath>
    <LyncMediaPath>D:</LyncMediaPath>
    <LyncSharePath>C:\LyncShare</LyncSharePath>
    <InstallPath>c:\deploy\installs</InstallPath>
    <UserListFileName>DomainUserList.txt</UserListFileName>
    <GroupListFileName>DomainGroupList.txt</GroupListFileName>
    <SharepointModule>C:\Program Files\Common Files\Microsoft Shared\Web Server Extensions\15\CONFIG\POWERSHELL\Registration\sharepoint.ps1</SharepointModule>
  </Paths>
  <Networking>
    <NetMask>255.255.255.0</NetMask>
    <Gateway>192.168.1.1</Gateway>
  </Networking>
  <ADSettings>
    <NetBiosName>jivewindev</NetBiosName>
    <TLD>com</TLD>
    <UserOU>EICUsers</UserOU>
    <GroupOU>EICGroups</GroupOU>
    <Password>Abc123!</Password>
  </ADSettings>
  <SQLSettings>
    <SQLExpressFileName>SQLEXPR_x64_ENU.exe</SQLExpressFileName>
    <SQLInstance>localhost\sharepoint</SQLInstance>
    <SQLAgentUsername>sqlagent</SQLAgentUsername>
    <SQLEngineUsername>sqlengine</SQLEngineUsername>
  </SQLSettings>
</Configuration>